html { 
  scroll-behavior: smooth; 
} 
.your-parent-container-class { 
  position: relative; min-height: 100vh; 
} 
body { 
  font-family: Arial, Helvetica, sans-serif; color: var(--ut-navy); background-color: #DBD5B5; 
} 
/*line-height: 1.6; margin: 0; padding: 0px;*/

.right-box {
  width: 50%; /* Covers exactly half the horizontal screen space */
  background-color: #1f2937; /* Dark background color for contrast */
  color: #ffffff; /* White text color */
  padding: 40px; /* Internal spacing for content */
  box-sizing: border-box; /* Includes padding within the 50% width calculation */
}
.nav-index { 
  display: flex; align-items: flex-end; gap: 20px; position: absolute; bottom: 0; left: 0; width: 100%; 
} 
.nav-index a { 
  text-decoration: none; color: inherit; 
} 
.box-Horus { 
  height: 500px; width: 200px; margin: 20px; background-color: #FCAB10; border-radius: 8px; display: flex; justify-content: center; align-items: flex-end; gap: 20px; 
} 
.box-Fulgrim { 
  height: 300px; width: 200px; margin: 20px; background-color: #2B9EB3; border-radius: 8px; display: flex; justify-content: center; align-items: flex-end; gap: 20px; 
} 
.box-Angron { 
  height: 80vh; max-height: 800px; width: 200px; margin: 20px; background-color: #F8333C; border-radius: 8px; display: flex; justify-content: center; align-items: flex-end; gap: 20px; 
} 
.scroll-container { 
  display: flex; overflow-x: auto; overflow-y: hidden; 
  width: 100vw;
  height: 100dvh; 
  box-sizing: border-box; 
  border: 8px solid #44AF69;
} 
.large-content { 
  flex-shrink: 0; width: 2000px; height: 100%; position: relative;
} 
