html {
    scroll-behavior: smooth;
}

.your-parent-container-class {
  position: relative; 
  min-height: 100vh;  
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--ut-navy);
    background-color: var(--ut-white);
    line-height: 1.6;
    margin: 0;
    padding: 0px;
}

.nav-index {
    display: flex;
    align-items: flex-end;    
    gap: 20px;                 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.nav-index a {
    text-decoration: none;
    color: inherit; 
}

.box-Horus {
    height: 500px;
    width: 200px;
    margin: 20px;
    background-color: #f5dfa4;   
    border-radius: 8px;
    display: flex;            
    justify-content: center; 
    align-items: flex-end;
    gap: 20px;    
}

.box-Fulgrim {   
    height: 300px;
    width: 200px;
    margin: 20px;
    background-color: #b667e0;   
    border-radius: 8px;   
    display: flex;            
    justify-content: center; 
    align-items: flex-end;
    gap: 20px; 
}

.box-Angron {   
    height: 80vh; /* Using viewport height units ensures it scales nicely and leaves room */
    max-height: 800px;
    width: 200px;
    margin: 20px;
    background-color: #ff0f0f;   
    border-radius: 8px;
    display: flex;            
    justify-content: center;
    align-items: flex-end;
    gap: 20px; 
}

.scroll-container {
    display: flex;       /* Aligns child items in a single row */
    width: 100%;          /* Take up full screen width */
    max-width: 1000px;       /* Restricts the site from growing past 1200px */
    height: 100vh;         /* Take up full screen height */
    border: 4px solid #333; /* Optional: just to see the boundary */
    overflow-x: auto;    /* Enables horizontal scrolling when content overflows */
    overflow-y: hidden;
}

/* The massive canvas inside */
.large-content {
    flex-shrink: 0;
    width: 2000px;         /* Forces horizontal scrollbar on narrow screens */
    height: 100%;
    position: relative;
}
